$home-banner-height: rem-calc(500)
$banner-title-color: #e6e7e9
#home-controller
  color: $description-text-gray-color
  //line-height: 1.25
  line-height: 1.4

#home-banner
  height: $home-banner-height

  .description-block
    position: absolute
    left: 50%
    right: 0
    width: 50%
    top: 0
    bottom: 0
    max-width: 500px
    color: $banner-title-color
    padding: 40px 0 0 0
    z-index: 2



    .title
      +font-70-semibold

      line-height: 64px
      max-width: 500px
    .description
      max-width: 400px
      margin-top: 1rem

      +font-16
    .banner-button-wrap
      margin-top: 50px
      .button
        width: 250px
      .link
        color: $sky-blue-color

      p
        +font-12
        margin: 0
        margin-left: 28px

    @media #{$medium-down}
      left: 0
      max-width: 100%
      margin: 0 auto
      width: 640px
      padding: 0 30px

  .scene
    position: absolute
    left: 0
    top: 0
    bottom: 0
    width: 100%
    //width: 50%
    //max-width: 1366px

    @media #{$screen} and (min-width: 1400px)
      //left: 10%
    .layer
      img
        //width: 100% !important
        width: auto !important
        //width: 1366px !important
        height: auto !important
        //+transform(scale(0.6))
    @media #{$screen} and (min-width: 1800px)
      //left: 15%

    @media #{$screen} and (max-width: 1440px)
      +transform(translate(5%, 0%))
    @media #{$medium-down}
      display: none



.home-parallax-banner
  &:first-child
    .layer

      &:first-child
        z-index: 2
        img
          +transform(translate(20%, 0%))

      &:nth-child(2)
        z-index: 1
        img
          +transform(translate(10%, 15%))
      &:nth-child(3)


#home-slider-carousel
  height: 100%
  margin: 0

.section-header
  text-align: center
  //color: $dark-gray-color
  color: $home-text-header-color
  +font-16
  height: rem-calc(75)
  line-height: rem-calc(75)

#home-how-it-works
  background: $white-color
  //padding-bottom: rem-calc(130)
  padding-bottom: 60px

  .item
    +grid-column(4)
    text-align: center

    svg
      width: rem-calc(130)
      height: rem-calc(130)

    .header
      color: $light-black-color
      +font-18-semibold

    .time
      color: $yellow-orange-color
      +font-14
      margin-bottom: 20px
    .description
      color: $dark-gray-color
      +font-16-light

  @media #{$medium-down}
    .item
      width: grid-calc(12, 12)
      margin-bottom: rem-calc(80)
      &:last-child
        margin-bottom: 0


#home-what-for-you
  padding: 40px 0 50px 0
  .title
    +font-70-semibold
    color: $light-black-color

  ul
    +font-16-light
    +ul-with-blue-markers


  .svg-wrapper
    text-align: center
  svg
    width: 200px
    height: 200px
    display: inline-block

  @media #{$medium-down}




#home-statistics
  background-color: $light-black-color
  padding-bottom: rem-calc(64)
  .section-header
    text-align: center
    color: $dark-gray-color
    height: rem-calc(50)
    line-height: rem-calc(50)
  .counter
    display: inline-block
    height: rem-calc(115)
    line-height: rem-calc(115)
    font-size: rem-calc(95)
    //+semibold
    color: white
    border: 2px $sky-blue-color solid
    padding: 0 rem-calc(20)
    margin-right: 10px
  .text
    color: $yellow-orange-color
    text-transform: uppercase
    +font-30
    line-height: rem-calc(32)
    display: inline-block

  .by
    line-height: 115px
    text-align: center
    color: $sky-blue-color
    +font-18-light
    padding: 0

  @media #{$medium-down}
    > .row
      text-align: center
      .text
        margin-top: 1rem
        display: block
        br
          display: none


#home-plans
  padding-bottom: 115px

.home-plan
  .black-bg
    background-color: $light-black-color
    height: 145px
    padding: 0 24px


    .currency
      color: $yellow-orange-color
      display: inline
      font-size: 48px
      vertical-align: 32px
    .price
      color: $yellow-orange-color
      +font-100
      display: inline
  .question-symbol
    +font-100
    color: $yellow-orange-color
    display: inline
  .price-per, .not-certain
    display: inline-block
    +font-26
    color: white
    line-height: 32px
    text-transform: uppercase

  .not-certain
    padding-top: 15px

  .content
    height: 380px
    background-color: $white-color
    padding: 0 24px

    .text-content
      height: 245px
      position: relative

  &:first-child
    .content
      .text-center
        padding-bottom: 32px
        padding-top: 20px
      .header
      .header
        color: $light-black-color
        text-transform: uppercase
        +font-16
  &:nth-child(2)
    .text-content
      .columns
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)


  .learn-more
    +font-12-light
    color: $description-text-gray-color

  @media #{$medium-down}
    margin-bottom: 30px
    .price-and-text
      text-align: center
    .price-per
      text-align: left

    &:last-child
      margin-bottom: 0





.home-plan-header
  background-color: $sky-blue-color
  color: $light-black-color
  +font-21
  text-transform: uppercase
  text-align: center
  height: rem-calc(64)
  line-height: rem-calc(64)

#home-feedbacks
  background: $light-black-color
  padding-bottom: 15px

  .rn-carousel-control
    width: 100%
    .rn-carousel-control-prev
      position: absolute
      left: 0
    .rn-carousel-control-next
      position: absolute
      right: 0
      left: auto

#home-carousel-wrapper
  text-align: center
  .rn-carousel-indicator
    span
      color: $home-text-header-color
      width: 12px
      height: 12px
      margin: 0 15px
      display: inline-block
      line-height: 12px
      font-size: 24px

      &.active
        color: $fire-orange-color

#home-feedbacks-carousel
  height: 150px


.home-feedback
  position: relative
  height: 150px
  //border: 10px solid white


  .feedback-inner
    max-width: 600px
    //margin: 0 auto
    +font-14-semibold
    transform: translate(-50%, -50%)
    top: 50%
    left: 50%
    position: absolute
    width: 100%
    .quote
      color: $yellow-orange-color
      text-align: center
      padding-left: 50px
      position: relative
      &:before
        //content: open-quote
        content: "\201C"
        color: #6D3D31
        font-size: 120px

        position: absolute
        display: block
        left: 0
        //line-height: 45px
        line-height: 60px


    .name, .position
      text-align: right
      +light
    .name
      color: $sky-blue-color
    .position
      text-transform: uppercase
      color: $dark-gray-color


  &:nth-child(2n+1)
    //background: lightblue
  &:nth-child(2n)
    //background: lightsalmon

#home-bottom-container
  background: $white-color
  padding: 50px 0 75px 0
  .title
    +font-18
    +bold
    color: $light-black-color
  .button-container
    padding-top: 32px



button.start-now-button, button.shedule-call-button
  +button-with-subtitle-and-header
.button-container
  text-align: center