#home-feedbacks
  background: $light-black-color
  padding-bottom: 15px

#pricing__feedbacks
  .quote
    //max-height: 42px
    .text
      max-height: 42px
    &:before
      color: #ffcebf
  .carousel-wrapper
    padding-top: 50px





.carousel-wrapper
  text-align: center
  .rn-carousel-indicator
    span
      +carousel-indicator-bullet



  .rn-carousel-control
    width: 100%
    .rn-carousel-control-prev
      position: absolute
      left: 0
    .rn-carousel-control-next
      position: absolute
      right: 0
      left: auto

.feedbacks-carousel
  height: 150px


.feedback
  position: relative
  height: 150px
  //border: 10px solid white


  .feedback-inner
    max-width: 600px
    //margin: 0 auto
    +font-14-semibold
    transform: translate(-50%, -50%)
    top: 50%
    left: 50%
    position: absolute
    width: 100%
    .quote
      //overflow-y: hidden
      max-height: 105px
      color: $yellow-orange-color
      text-align: center
      padding-left: 50px
      position: relative
      &:before
        //content: open-quote
        content: "\201C"
        color: #6D3D31
        font-size: 120px

        position: absolute
        display: block
        left: 0
        //line-height: 45px
        line-height: 60px
      .text
        max-height: 105px
        overflow-y: hidden
        line-height: 21px


    .logo-wrap
      text-align: center
      ng-include
        display: inline-block
      &:not(.ng-hide) + .quote
        margin-top: 15px
      svg
        max-width: inherit
        max-height: inherit
    .name, .position
      text-align: right
      +light
    .name
      color: $sky-blue-color
    .position
      text-transform: uppercase
      color: $dark-gray-color


  &:nth-child(2n+1)
  //background: lightblue
  &:nth-child(2n)
//background: lightsalmon

@media #{$small-only}
  .rn-carousel-control
    display: none
