$header-height: rem-calc(80) //80
$header-bg-color: $white-color

$header-menu-item-color: $light-black-color
$footer-background-color: $light-black-color
$total-panel-background-color: $light-black-color

$footer-height: rem-calc(200)

$header-z-index: 10

$small-footer-height: rem-calc(450)
$small-header-height: 60px

#header
  height: $header-height
  background: $header-bg-color
  position: relative
#fixed-header
  position: fixed
  height: inherit
  width: 100%
  background: inherit
  z-index: $header-z-index

#header-row
  +grid-row
  //position: relative
#header-logo
  +grid-column(3)
  height: $header-height
  a
    position: relative
    height: 100%
    display: inline-block
    img
      margin-top: rem-calc(5)

#header-menu
  +grid-column(8, $float: right)
  height: $header-height
.header-menu-item
  +grid-column(3, $collapse: true)
  //padding: 0 rem-calc(1)
  height: $header-height
  padding-left: 1px
  > a

    display: block
    line-height: $header-height
    height: $header-height
    color: $header-menu-item-color
    font-size: 1rem
    font-weight: 600
    text-decoration: none
    text-align: center
    position: relative

    &:before, &:after
      height: 6px
      background: $light-gray-text-color
      content: ""
      display: block
      width: 100%
      position: absolute
      top: 0
    &:after
      width: 0
      z-index: 1
      +transition_all(all 0.5s)

  &.active, &:hover
    > a
      cursor: pointer
      &:after
        width: 100%
        background: $fire-orange-color
  &:not(.active):hover
    > a
      color: $fire-orange-color
  &.active
    > a
      color: $light-gray-text-color
      cursor: default





  &.has-dropdown
    > a
      > span
        padding-right: 15px
        position: relative

        &:after
          content: ""
          display: inline-block
          width: 0
          height: 0
          border-style: solid
          border-width: 10px 5px 0 5px
          border-color: $light-black-color transparent transparent transparent
          position: absolute
          right: 0
          top: 7px

      &:hover
        > span
          &:after
            border-top-color: $fire-orange-color
      //position: relative
    &.opened
      > a
        > span
          &:after
            border-width: 0 5px 10px 5px
            border-color: transparent transparent $fire-orange-color transparent
      .dropdown
        opacity: 1
        top: $header-height
        display: block



.dropdown
  top: $header-height
  //display: none
  //display: block
  height: 40px
  position: absolute
  width: 100%
  background: $fire-orange-color
  left: 0
  text-align: center
  //top: -100px
  opacity: 0
  //opacity: 0
  //+transition_all('top 1s, opacity 0.15s 0.85s')
  +transition_all('all 1s ')
  ul
    display: inline-block
    padding: 0
    margin: 0
    list-style: none
    text-align: center
    li
      display: inline-block
      height: 40px
      line-height: 40px
      padding: 0 24px
      a
        color: #fff
        text-decoration: none

.dropdowns
  position: absolute
  top: 0
  left: 0
  width: 100%
  .dropdown
    &:not(.ng-hide)
      z-index: 1

      opacity: 1



top-nav
  display: inline-block
  float: left
  width: calc(100% - #{$header-height})

  .menu
    background: $header-bg-color

#header-user
  width: 80px
  height: $header-height
  display: inline-block
  float: right
  cursor: pointer



  .inner
    +font-14-light
    vertical-align: middle
    display: inline-block
    line-height: 16px
    .svg-wrap
      svg
        fill: #fff
        width: 35px
        height: 35px
    .subtitle
      color: #fff

  .user-icon
    text-align: center
    line-height: $header-height
    width: $header-height
    height: $header-height
    position: relative
    &:after
      content: ""
      // css triangle
      width: 0
      height: 0
      border-style: solid
      border-width: 10px 40px 0 40px
      border-color: $sky-blue-color transparent transparent transparent
      position: absolute
      top: $header-height
      left: 0
      z-index: 1

  .dropdowns
    position: absolute
    top: -40px
    width: 100%

  .dropdown
    width: 220px
    height: 120px
    background: $white-color
    position: relative
    top: 1px
    left: -70px
    padding: 12px

    button.my-dashboard-button-link
      margin: 24px 0 16px 0

    .links
      a
        color: $sky-blue-color
        +font-12-light

  &.unlogged
    background: $sky-blue-color

    &:hover
      background: $fire-orange-color
      //&:after
        background: $fire-orange-color
      //svg
        fill: $fire-orange-color !important
      .user-icon
        &:after
          border-top-color: $fire-orange-color



  &.logged-in
    background: $light-gray-text-color

    .user-icon
      &:after
        border-top-color: $light-gray-text-color

    &.no-avatar
      svg
        width: 40px
        height: 40px


// =======================================
// ---------------------------------------
// Mobile menu
// ---------------------------------------
// =======================================
@media #{$screen} and (max-width: 1128px)
  #header-user
    .dropdown
      left: -140px
@media #{$screen} and (max-width: 810px) and (min-width: 641px)
  #header-menu
    padding-right: 0
    width: 75%

@media #{$screen} and (max-width: 700px) and (min-width: 641px)
  .header-menu-item
    padding-left: 0
    margin-left: 1px
    width: auto
    > a
      width: auto
      position: relative
      padding: 0 6px


@media #{$medium-up}
  .menu-item
    .dropdown
      display: none !important

@media #{$small-only}
  .dropdowns
    display: none !important

  #header, #header-logo, #header-menu, #header-user, #header-user .user-icon
    height: $small-header-height
  #header-menu
    padding-right: 0
  #header-user
    .user-icon
      &:after
        top: $small-header-height
  top-nav
    display: none
    //display: block
    position: absolute
    width: 100%
    left: 0
    top: 60px
    height: auto
    z-index: 2

    .menu
      position: relative
      height: $header-height
      .menu-item
        background: rgba($light-black-color, 1)
        display: block
        height: 62px
        float: none
        width: 100%
        > a
          color: white
          line-height: 60px
          height: 60px
          &:before, &:after
            display: none
        &.active
          > a
            color: $sky-blue-color
        &
          border-bottom: 2px solid $fire-orange-color
        &:last-child
          border-bottom: none
          height: 60px

        &.has-dropdown
          > a
            &:after
              content: "+"
              display: block
              position: absolute
              right: 1px
              left: auto
              height: 58px
              width: 70px
              background: #414143
              top: 1px
              font-size: 40px
              font-weight: 300
            > span
              &:after
                display: none

    // when menu opened
  #body.mobile-menu-opened
    overflow: hidden
    &:before
      content: ""
      position: fixed
      top: 60px
      height: 100%
      width: 100%
      background: rgba(0, 0, 0, 0.6)
      z-index: 10
  #header
    &.mobile-menu-opened
      top-nav
        display: block

        .menu
          position: relative
      .header-menu-item
        &.has-dropdown
          &.opened
            height: auto
            .dropdown
              position: relative
              height: auto
              top: 0

              ul
                width: 100%
                display: block
                li
                  display: block
                  float: none
                  width: 100%
                  height: 61px
                  border-bottom: 1px solid $light-black-color

                  a
                    line-height: 60px

                  &:last-child
                    border-bottom: 0
                    height: 60px

  #header-mobile-menu-button-wrap
    cursor: pointer
    display: block
    float: right
    width: 60px
    height: 60px
    .inner
      background: $sky-blue-color
      position: relative
      top: 20px
      left: 15px
      &, &:before, &:after
        height: 4px
        width: 30px
        display: block
      &:before, &:after
        content: ""
        position: absolute
        left: 0
      &:before
        top: 8px
        background: $yellow-orange-color
      &:after
        top: 16px
        background: $fire-orange-color

  #header-user
    &.logged-in
      .user-icon
        line-height: 60px
    &.unlogged
      .inner
        svg
          width: 28px
          height: 28px
          margin-top: -14px
          position: relative

// =======================================
// ---------------------------------------
// Footer
// ---------------------------------------
// =======================================

#wrap
  min-height: 100%
  padding-bottom: $footer-height

$footer-text-color:  $dark-gray-color
#footer
  padding: 15px 0 0 0
  margin-top: -#{$footer-height}
  height: $footer-height
  background-color: $footer-background-color

  color: $footer-text-color
  +font-14-light

  .copyright
    margin-top: 24px
  .developed-by
    .vs-logo
      svg
        fill: $dark-gray-color

  .social-icons
    ul
      list-style: none
      padding: 0
      margin-bottom: 24px
    li
      display: inline-block
      margin: 0 10px
      &:first-child
        margin-left: 0

  .menu
    ul
      list-style: none
      padding: 0
      margin-bottom: 20px
    li
      display: inline-block
      &:after
        display: inline-block
        content: ""
        border-left: 2px solid $white-color
        width: 2px
        height: 16px
        margin: 0 10px
      &:last-child
        &:after
          display: none

    a
      color: $sky-blue-color
      text-transform: uppercase
      +font-16-semibold
      text-decoration: none
      line-height: 16px
      vertical-align: top
  .sublinks
    color: $footer-text-color
    ul
      list-style: none
      padding: 0
    li
      display: inline-block
      margin: 0 14px
      &:first-child
        margin-left: 0
    a
      color: $footer-text-color
      +font-12



.subscribe-block
  label.header
    padding-bottom: 12px
    display: inline-block
  .copyright
    margin-top: 24px
#footer-subscribe-input
  +white-input
#subscribe-button
  height: $simple-form-input-height
  vertical-align: top
  margin-left: 1px
  .svg-wrap
    top: 3px
    position: relative
.page-banner
  height: 230px
  background: $light-black-color

button.my-dashboard-button-link
  width: 100%
  height: 36px
  position: relative
  padding: 0 0 0 40px
  .svg-wrap
    display: inline-block
    position: absolute
    left: 0
    top: 0
    height: 36px
    width: 36px
    svg
      //width:
      height: 24px
      margin-left: 6px
  .button-title
    +semibold

@media #{$small-only}
  #wrap
    padding-bottom: $small-footer-height
  #footer
    height: $small-footer-height
    margin-top: -#{$small-footer-height}
    text-align: center
    padding-top: 35px
    .social-icons
      ul
        margin-bottom: 40px
    .sublinks
      ul
        margin-bottom: 50px
    .subscribe-block
      text-align: left
    input
      width: calc(100% - 61px)
      max-width: none