@import url(http://code.cdn.mozilla.net/fonts/fira.css)

@import "foundation/scss/normalize"
@import "sass-flex-mixin/flexbox"
@import "functions"
//@import "foundation_apps_settings"
//@import "foundation-apps/scss/foundation"

@import 'foundation/scss/foundation/functions'
@import "config"
@import "foundation_settings"
@import "foundation/scss/foundation"
@import "basic"

//@import "selectize/dist/css/selectize"
//@import "jquery.tagsinput/dist/jquery.tagsinput.min"
@import "ng-tags-input/ng-tags-input.min"
@import "angular-carousel/dist/angular-carousel.min"
@import "layout"


@import "pages/wizard"
@import "pages/home"
@import "pages/faq"
@import "pages/contact"
@import "pages/how_it_works"
@import "pages/about"

//@import "test_app.css"

.my-container
  min-height: 200px
  min-width: 200px
  background: lightcyan

  .item
    min-height: 60px
    min-width: 60px
    background: lightblue
  .container-header
    min-height: 50px
    background: lightpink